.button {
  border-radius: var(--Radius-Component-radius-button, 6px);
  display: flex;
  height: var(--Size-size-button-md, 40px);
  padding: var(--Padding-p-2, 8px) var(--Padding-p-4, 16px);
  justify-content: center;
  align-items: center;
  gap: var(--Spacing-spacing-sm, 8px);
  cursor: pointer;

  &--primary {
    background: var(--primary);
    color: white;
  }
  &--secondary {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
    background-color: transparent;
    color: #333;
  }
  &--small {
    padding: 10px 16px;
    font-size: 12px;
  }
  &--medium {
    padding: 11px 20px;
    font-size: 14px;
  }
  &--large {
    padding: 12px 24px;
    font-size: 16px;
  }
}
